In [2]:
import pathlib
import os
if not "changed_working_directory" in locals():
    changed_working_directory = True
    os.chdir(pathlib.Path().resolve().parent)
    
%load_ext autoreload
%autoreload 2

from tabGAN import TabGAN
from src import constants as const
import helpers
from v2_hp_tuning import fetch_hp_info

imports_path = "src//imports.ipynb"
tabGAN_path = "tabGAN.py"
utils_path = "utils\\utils.ipynb"

%run "$imports_path"

if const.dir.project() != os.getcwd():
    raise ValueError("Project directory not the same as in consts")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
# adult_train = pd.read_csv(os.path.join(const.dir.data(), "df_adult_edited_train.csv"))
# adult_test = pd.read_csv(os.path.join(const.dir.data(), "df_adult_edited_test.csv"))
# adult_combined = pd.concat([adult_train, adult_test], axis=0)
# adult_combined.columns = adult_combined.columns.str.replace(".", "_")
# adult_combined.to_csv(os.path.join(const.dir.data_comparison(), "adult_edited.csv"), index=False)
# boolean_indices_adult_train = np.repeat([True, False], [adult_train.shape[0], adult_test.shape[0]])
# for i in tqdm(range(100)):
#     dir_boolean_indices_adult = os.path.join(const.dir.data_comparison(), "indices", "adult_edited")
#     os.makedirs(dir_boolean_indices_adult, exist_ok=True)
#     np.save(os.path.join(dir_boolean_indices_adult, f"bool_indices_{i}.npy"),
#             boolean_indices_adult_train)

In [2]:
# helpers.comparison.setup.generate_bool_indices_for_dataset_tasks(overwrite_indices=True,
#                                                                 n_synthetic_datasets=100)

Dataset tasks:   0%|          | 0/3 [00:00<?, ?it/s]

Train indices generated (covtype_edited):   0%|          | 0/100 [00:00<?, ?it/s]

Train indices generated (creditcard_edited):   0%|          | 0/100 [00:00<?, ?it/s]

Train indices generated (news_edited):   0%|          | 0/100 [00:00<?, ?it/s]

In [31]:
df = pd.read_csv(os.path.join(const.dir.data_comparison(), "adult_edited.csv"))
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational_num',
       'marital_status', 'occupation', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income'],
      dtype='object')

In [32]:
df.select_dtypes(exclude=[np.number]).columns.values

array(['workclass', 'education', 'marital_status', 'occupation', 'race',
       'gender', 'native_country', 'income'], dtype=object)

In [24]:
ix = np.load("T:\\Master-thesis-cf\\data\\comparison\\indices\\creditcard_edited\\bool_indices_6.npy", allow_pickle=True)
df.loc[ix,:]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,Class0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,Class0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,Class0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,Class0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,Class0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284800,172784.0,2.039560,-0.175233,-1.196825,0.234580,-0.008713,-0.726571,0.017050,-0.118228,0.435402,...,-0.268048,-0.717211,0.297930,-0.359769,-0.315610,0.201114,-0.080826,-0.075071,2.68,Class0
284801,172785.0,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,2.69,Class0
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,Class0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,Class0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,Class0

In [32]:
from tabGAN import TabGAN
def tabGAN_example_synthesizer(data):
    tg_qtr = TabGAN(data, batch_size=500, ctgan=True, n_critic=10, adam_beta1 = 0.5,
                 quantile_transformation_int=True, quantile_rand_transformation=True, qtr_spread=1,
                 activation_function="mish", jit_compile=True, qt_n_subsample=int(1e5))
    tg_qtr.train(100, progress_bar=True)
    return tg_qtr.sample()

In [ ]:
helpers.comparison.synthesize_multiple_datasets(tabGAN_example_synthesizer, "tabGAN_example",
                                               n_synthetic_datasets=5,
                                                overwrite_dataset=True,
                                               datasets=["news_edited"])

In [25]:
import tensorflow as tf
a = tf.constant(0.01)

In [26]:
a**100000

In [4]:
comparison_output = helpers.comparison.eval_ml_efficacy(["CopulaGAN"],
                                                        datasets=["covtype_edited", "creditcard_edited", "news_edited"],
                                    n_synthetic_datasets=3,
                                   metric_evals=["Mean", "Median", "Percentile10", "Percentile90"],
                                                       allow_fewer_synthetic_datasets=True)

Dataset tasks:   0%|          | 0/3 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/3 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Model CopulaGAN only has 1 synthetic datasets for dataset task covtype_edited

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/3 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Model CopulaGAN only has 1 synthetic datasets for dataset task creditcard_edited

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/3 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

In [15]:
comparison_output = helpers.comparison.eval_ml_efficacy(["TVAE", "TVAE-mod", "TVAESynthesizer", "TVAESynthesizer-mod",
                                                         "CTGAN-pac1", "CTGAN-pac10",
                                                        "CTGANSynthesizer-pac1", "CTGANSynthesizer-pac10",
                                                        "GaussianCopula", "tabFairGAN", "tabFairGAN-mod",
                                                        "CopulaGAN"],
                                                        datasets=["covtype_edited", "creditcard_edited", "news_edited"],
                                                        n_synthetic_datasets=5,
                                                        metric_evals=["Mean", "Median", "Percentile5", "Percentile95"],
                                                        allow_fewer_synthetic_datasets=True)

Dataset tasks:   0%|          | 0/3 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/5 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Model CopulaGAN only has 1 synthetic datasets for dataset task covtype_edited

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Model CTGAN-pac1 only has 2 synthetic datasets for dataset task covtype_edited
Model CTGAN-pac10 only has 2 synthetic datasets for dataset task covtype_edited
Model CTGANSynthesizer-pac1 only has 2 synthetic datasets for dataset task covtype_edited
Model CTGANSynthesizer-pac10 only has 2 synthetic datasets for dataset task covtype_edited

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/5 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Model CopulaGAN only has 1 synthetic datasets for dataset task creditcard_edited

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Model CTGAN-pac1 only has 2 synthetic datasets for dataset task creditcard_edited
Model CTGAN-pac10 only has 2 synthetic datasets for dataset task creditcard_edited
Model CTGANSynthesizer-pac1 only has 2 synthetic datasets for dataset task creditcard_edited
Model CTGANSynthesizer-pac10 only has 2 synthetic datasets for dataset task creditcard_edited

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/5 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

Models:   0%|          | 0/13 [00:00<?, ?it/s]

In [16]:
comparison_output_tidy = helpers.comparison.tidy_ml_efficacy_output(comparison_output, extract_median_and_percentile=True)
comparison_output_tidy

                                         Covtype                        \
                     Model         Test Accuracy               Test F1
0            Train dataset   0.87 (0.869, 0.872)  0.867 (0.866, 0.869)
1                     TVAE  0.716 (0.692, 0.723)  0.735 (0.707, 0.744)
2                 TVAE-mod  0.738 (0.723, 0.743)  0.753 (0.747, 0.762)
3          TVAESynthesizer  0.719 (0.715, 0.731)  0.742 (0.728, 0.751)
4      TVAESynthesizer-mod   0.741 (0.74, 0.741)  0.758 (0.756, 0.761)
5               CTGAN-pac1   0.66 (0.657, 0.663)  0.697 (0.696, 0.698)
6              CTGAN-pac10  0.636 (0.634, 0.638)  0.675 (0.672, 0.679)
7    CTGANSynthesizer-pac1  0.663 (0.662, 0.663)  0.704 (0.702, 0.706)
8   CTGANSynthesizer-pac10   0.63 (0.629, 0.631)  0.676 (0.676, 0.677)
9           GaussianCopula        nan (nan, nan)        nan (nan, nan)
10              tabFairGAN    0.718 (0.71, 0.72)  0.737 (0.733, 0.742)
11          tabFairGAN-mod  0.722 (0.721, 0.729)   0.74 (0.731, 0.747)
12               CopulaGAN  0.689 (0.689, 0.689)  0.716 (0.716, 0.716)

              Creditcard                                              \
           Test Accuracy            Test AUPRC               Test F1
0       1.0 (0.999, 1.0)  0.862 (0.837, 0.882)  0.927 (0.913, 0.937)
1         nan (nan, nan)        nan (nan, nan)        nan (nan, nan)
2         nan (nan, nan)        nan (nan, nan)        nan (nan, nan)
3   0.999 (0.998, 0.999)  0.604 (0.101, 0.693)     0.76 (0.5, 0.832)
4   0.998 (0.998, 0.998)  0.501 (0.233, 0.519)    0.516 (0.5, 0.603)
5   0.999 (0.999, 0.999)   0.77 (0.726, 0.815)  0.885 (0.862, 0.907)
6   0.999 (0.999, 0.999)  0.764 (0.728, 0.799)  0.877 (0.859, 0.896)
7   0.949 (0.934, 0.964)  0.473 (0.466, 0.481)  0.521 (0.507, 0.535)
8   0.913 (0.913, 0.914)   0.472 (0.47, 0.473)  0.496 (0.496, 0.497)
9         nan (nan, nan)        nan (nan, nan)        nan (nan, nan)
10  0.998 (0.997, 0.998)  0.501 (0.031, 0.501)      0.5 (0.5, 0.526)
11        nan (nan, nan)        nan (nan, nan)        nan (nan, nan)
12  0.997 (0.997, 0.997)  0.308 (0.308, 0.308)     0.65 (0.65, 0.65)

                    News
           Test Accuracy              Test AUC               Test F1
0   0.791 (0.786, 0.793)  0.693 (0.686, 0.697)  0.552 (0.547, 0.556)
1   0.799 (0.797, 0.802)    0.659 (0.63, 0.66)  0.457 (0.448, 0.462)
2   0.799 (0.798, 0.802)  0.641 (0.639, 0.663)  0.453 (0.449, 0.455)
3   0.798 (0.798, 0.802)   0.64 (0.631, 0.658)  0.448 (0.448, 0.464)
4   0.798 (0.798, 0.802)  0.649 (0.636, 0.665)  0.459 (0.448, 0.471)
5    0.77 (0.752, 0.781)   0.646 (0.638, 0.65)  0.551 (0.536, 0.565)
6    0.779 (0.77, 0.788)  0.641 (0.631, 0.647)   0.523 (0.51, 0.535)
7   0.785 (0.778, 0.792)   0.654 (0.645, 0.66)  0.526 (0.521, 0.542)
8   0.783 (0.782, 0.787)  0.645 (0.623, 0.656)  0.526 (0.502, 0.539)
9    0.793 (0.79, 0.798)  0.609 (0.598, 0.626)  0.469 (0.462, 0.475)
10  0.775 (0.761, 0.782)  0.622 (0.605, 0.639)  0.535 (0.503, 0.565)
11  0.734 (0.683, 0.796)  0.602 (0.599, 0.627)  0.549 (0.458, 0.569)
12  0.792 (0.771, 0.794)   0.622 (0.61, 0.632)   0.484 (0.48, 0.534)

In [181]:
import re
int(re.search( "pac(\d+)", "CTGAN-orig-pac10").group(0).replace("pac", ""))

10

In [117]:
comparison_output_tidy

                                Covtype                        \
            Model         Test Accuracy               Test F1
0   Train dataset  0.868 (0.868, 0.868)  0.865 (0.865, 0.865)
1  tabGAN_example  0.663 (0.663, 0.663)  0.693 (0.693, 0.693)

             Creditcard                                              \
          Test Accuracy              Test AUC               Test F1
0  0.999 (0.999, 0.999)     0.98 (0.98, 0.98)  0.916 (0.916, 0.916)
1  0.999 (0.999, 0.999)  0.923 (0.923, 0.923)     0.81 (0.81, 0.81)

                   News
          Test Accuracy              Test AUC               Test F1
0     0.79 (0.79, 0.79)  0.693 (0.693, 0.693)  0.553 (0.553, 0.553)
1  0.775 (0.775, 0.775)  0.641 (0.641, 0.641)  0.539 (0.539, 0.539)

In [14]:
pd.read_csv(os.path.join(const.dir.data(), "df_adult_edited_train.csv")).dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational.num     int64
marital.status     object
occupation         object
race               object
gender             object
capital.gain        int64
capital.loss        int64
hours.per.week      int64
native.country     object
income             object
dtype: object

In [7]:
pd.read_csv(os.path.join(const.dir.data_comparison(), "covtype_edited.csv")).dtypes

Wilderness_Area                       object
Soil_Type                             object
Elevation                              int64
Aspect                                 int64
Slope                                  int64
Horizontal_Distance_To_Hydrology       int64
Vertical_Distance_To_Hydrology         int64
Horizontal_Distance_To_Roadways        int64
Hillshade_9am                          int64
Hillshade_Noon                         int64
Hillshade_3pm                          int64
Horizontal_Distance_To_Fire_Points     int64
Cover_Type                            object
dtype: object

AttributeError: module 'helpers.eval' has no attribute 'fit_and_evaluate_xgboost_model'

In [8]:
train = pd.read_csv(os.path.join(const.dir.data_comparison(), "covtype_edited.csv"))
train

,Wilderness_Area,Soil_Type,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type
0,Wilderness_Area1,Soil_Type29,2596,51,3,258,0,510,221,232,148,6279,CoverType5
1,Wilderness_Area1,Soil_Type29,2590,56,2,212,-6,390,220,235,151,6225,CoverType5
2,Wilderness_Area1,Soil_Type12,2804,139,9,268,65,3180,234,238,135,6121,CoverType2
3,Wilderness_Area1,Soil_Type30,2785,155,18,242,118,3090,238,238,122,6211,CoverType2
4,Wilderness_Area1,Soil_Type29,2595,45,2,153,-1,391,220,234,150,6172,CoverType5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,Wilderness_Area3,Soil_Type2,2396,153,20,85,17,108,240,237,118,837,CoverType3
581008,Wilderness_Area3,Soil_Type2,2391,152,19,67,12,95,240,237,119,845,CoverType3
581009,Wilderness_Area3,Soil_Type2,2386,159,17,60,7,90,236,241,130,854,CoverType3
581010,Wilderness_Area3,Soil_Type2,2384,170,15,60,5,90,230,245,143,864,CoverType3
581011,Wilderness_Area3,Soil_Type2,2383,165,13,60,4,67,231,244,141,875,CoverType3