In [2]:
import pathlib
import os
if not "changed_working_directory" in locals():
    changed_working_directory = True
    os.chdir(pathlib.Path().resolve().parent)
    
%load_ext autoreload
%autoreload 2

from tabGAN import TabGAN
from src import constants as const
import helpers
from v2_hp_tuning import fetch_hp_info

imports_path = "src//imports.ipynb"

%run "$imports_path"

if const.dir.project() != os.getcwd():
    raise ValueError("Project directory not the same as in consts")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

comparison_output = helpers.comparison.eval_ml_efficacy(["CopulaGAN"],
                                                        datasets=["covtype_edited", "creditcard_edited", "news_edited"],
                                    n_synthetic_datasets=10,
                                   metric_evals=["Mean", "Median", "Percentile10", "Percentile90"],
                                                       allow_fewer_synthetic_datasets=True)

In [ ]:
comparison_output_adult = helpers.comparison.eval_ml_efficacy(["tabGAN", "tabGAN-qt", "tabGAN-qtr",
                                                               "ctabGAN", "ctabGAN-qt", "ctabGAN-qtr"],
                                                        datasets=["adult_edited"],
                                                        n_synthetic_datasets=5,
                                                        metric_evals=["Mean", "Median", "Percentile5", "Percentile95"],
                                                        allow_fewer_synthetic_datasets=True)

In [5]:
comparison_output_adult_tidy = helpers.comparison.tidy_ml_efficacy_output(
    comparison_output_adult, extract_median_and_percentile=True, round_decimals=4)
comparison_output_adult_tidy

                                    Adult                           \
           Model            Test Accuracy                 Test AUC
0  Train dataset  0.8653 (0.8653, 0.8653)  0.9229 (0.9229, 0.9229)
1         tabGAN  0.8383 (0.8303, 0.8419)  0.8915 (0.8849, 0.8942)
2      tabGAN-qt     0.835 (0.83, 0.8374)  0.8897 (0.8845, 0.8911)
3     tabGAN-qtr  0.8434 (0.8411, 0.8461)  0.8983 (0.8965, 0.8998)
4        ctabGAN   0.833 (0.8289, 0.8387)  0.8856 (0.8809, 0.8914)
5     ctabGAN-qt  0.8321 (0.8294, 0.8362)  0.8849 (0.8825, 0.8891)
6    ctabGAN-qtr  0.8394 (0.8352, 0.8406)  0.8921 (0.8915, 0.8948)


                   Test F1
0  0.8087 (0.8087, 0.8087)
1  0.7629 (0.7419, 0.7676)
2  0.7709 (0.7682, 0.7739)
3    0.78 (0.7754, 0.7842)
4  0.7496 (0.7447, 0.7636)
5  0.7673 (0.7628, 0.7715)
6    0.773 (0.7667, 0.778)

In [ ]:
comparison_output, df_count_nan = helpers.comparison.eval_ml_efficacy(
    ["tabGAN", "tabGAN-qt", "tabGAN-qtr", "ctabGAN", "ctabGAN-qt", "ctabGAN-qtr"],
    datasets=["covtype_edited", "creditcard_edited","news_edited"],
    n_synthetic_datasets=5,
    n_synthetic_datasets_dict={"news_edited": 10},
    metric_evals=["Mean", "Median", "Percentile5", "Percentile95"],
    allow_fewer_synthetic_datasets=True,
    ignore_nan=True,
    ret_count_nan=True
)

Dataset tasks:   0%|          | 0/3 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/5 [00:00<?, ?it/s]

Models:   0%|          | 0/7 [00:00<?, ?it/s]

Models:   0%|          | 0/7 [00:00<?, ?it/s]

In [9]:
df_count_nan

          Models  news_edited
0  Train dataset          0.0
1         tabGAN          0.0
2      tabGAN-qt          0.0
3     tabGAN-qtr          0.0
4        ctabGAN          0.0
5     ctabGAN-qt          0.0
6    ctabGAN-qtr          0.0

In [10]:
comparison_output_tidy = helpers.comparison.tidy_ml_efficacy_output(comparison_output, extract_median_and_percentile=True)
comparison_output_tidy

                                  News                        \
           Model         Test Accuracy              Test AUC
0  Train dataset  0.789 (0.784, 0.793)   0.69 (0.686, 0.697)
1         tabGAN  0.771 (0.725, 0.789)   0.66 (0.632, 0.677)
2      tabGAN-qt  0.781 (0.712, 0.793)   0.66 (0.651, 0.672)
3     tabGAN-qtr   0.781 (0.75, 0.788)   0.66 (0.648, 0.669)
4        ctabGAN  0.774 (0.735, 0.787)  0.669 (0.654, 0.672)
5     ctabGAN-qt  0.772 (0.744, 0.792)  0.661 (0.646, 0.666)
6    ctabGAN-qtr  0.779 (0.755, 0.791)   0.657 (0.65, 0.665)


                Test F1
0  0.553 (0.548, 0.557)
1  0.562 (0.488, 0.599)
2   0.529 (0.504, 0.59)
3  0.543 (0.515, 0.573)
4   0.57 (0.504, 0.593)
5  0.542 (0.505, 0.571)
6   0.55 (0.493, 0.575)

In [181]:
import re
int(re.search( "pac(\d+)", "CTGAN-orig-pac10").group(0).replace("pac", ""))

10

In [117]:
comparison_output_tidy

                                Covtype                        \
            Model         Test Accuracy               Test F1
0   Train dataset  0.868 (0.868, 0.868)  0.865 (0.865, 0.865)
1  tabGAN_example  0.663 (0.663, 0.663)  0.693 (0.693, 0.693)

             Creditcard                                              \
          Test Accuracy              Test AUC               Test F1
0  0.999 (0.999, 0.999)     0.98 (0.98, 0.98)  0.916 (0.916, 0.916)
1  0.999 (0.999, 0.999)  0.923 (0.923, 0.923)     0.81 (0.81, 0.81)

                   News
          Test Accuracy              Test AUC               Test F1
0     0.79 (0.79, 0.79)  0.693 (0.693, 0.693)  0.553 (0.553, 0.553)
1  0.775 (0.775, 0.775)  0.641 (0.641, 0.641)  0.539 (0.539, 0.539)

In [14]:
pd.read_csv(os.path.join(const.dir.data(), "df_adult_edited_train.csv")).dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational.num     int64
marital.status     object
occupation         object
race               object
gender             object
capital.gain        int64
capital.loss        int64
hours.per.week      int64
native.country     object
income             object
dtype: object

In [7]:
pd.read_csv(os.path.join(const.dir.data_comparison(), "covtype_edited.csv")).dtypes

Wilderness_Area                       object
Soil_Type                             object
Elevation                              int64
Aspect                                 int64
Slope                                  int64
Horizontal_Distance_To_Hydrology       int64
Vertical_Distance_To_Hydrology         int64
Horizontal_Distance_To_Roadways        int64
Hillshade_9am                          int64
Hillshade_Noon                         int64
Hillshade_3pm                          int64
Horizontal_Distance_To_Fire_Points     int64
Cover_Type                            object
dtype: object

AttributeError: module 'helpers.eval' has no attribute 'fit_and_evaluate_xgboost_model'

In [8]:
train = pd.read_csv(os.path.join(const.dir.data_comparison(), "covtype_edited.csv"))
train

,Wilderness_Area,Soil_Type,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type
0,Wilderness_Area1,Soil_Type29,2596,51,3,258,0,510,221,232,148,6279,CoverType5
1,Wilderness_Area1,Soil_Type29,2590,56,2,212,-6,390,220,235,151,6225,CoverType5
2,Wilderness_Area1,Soil_Type12,2804,139,9,268,65,3180,234,238,135,6121,CoverType2
3,Wilderness_Area1,Soil_Type30,2785,155,18,242,118,3090,238,238,122,6211,CoverType2
4,Wilderness_Area1,Soil_Type29,2595,45,2,153,-1,391,220,234,150,6172,CoverType5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,Wilderness_Area3,Soil_Type2,2396,153,20,85,17,108,240,237,118,837,CoverType3
581008,Wilderness_Area3,Soil_Type2,2391,152,19,67,12,95,240,237,119,845,CoverType3
581009,Wilderness_Area3,Soil_Type2,2386,159,17,60,7,90,236,241,130,854,CoverType3
581010,Wilderness_Area3,Soil_Type2,2384,170,15,60,5,90,230,245,143,864,CoverType3
581011,Wilderness_Area3,Soil_Type2,2383,165,13,60,4,67,231,244,141,875,CoverType3