In [1]:
import pathlib
import os
if not "changed_working_directory" in locals():
    changed_working_directory = True
    os.chdir(pathlib.Path().resolve().parent)
    
%load_ext autoreload
%autoreload 2

from tabGAN import TabGAN
from src import constants as const
import helpers
from v2_hp_tuning import fetch_hp_info

imports_path = "src//imports.ipynb"
tabGAN_path = "tabGAN.py"
utils_path = "utils\\utils.ipynb"

%run "$imports_path"

if const.dir.project() != os.getcwd():
    raise ValueError("Project directory not the same as in consts")

In [2]:
helpers.comparison.setup.generate_bool_indices_for_dataset_tasks(overwrite_indices=True,
                                                                n_synthetic_datasets=100)

Dataset tasks:   0%|          | 0/3 [00:00<?, ?it/s]

Train indices generated (covtype_edited):   0%|          | 0/100 [00:00<?, ?it/s]

Train indices generated (creditcard_edited):   0%|          | 0/100 [00:00<?, ?it/s]

Train indices generated (news_edited):   0%|          | 0/100 [00:00<?, ?it/s]

In [13]:
df = pd.read_csv(os.path.join(const.dir.data_comparison(), "creditcard_edited.csv"))

In [24]:
ix = np.load("T:\\Master-thesis-cf\\data\\comparison\\indices\\creditcard_edited\\bool_indices_6.npy", allow_pickle=True)
df.loc[ix,:]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,Class0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,Class0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,Class0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,Class0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,Class0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284800,172784.0,2.039560,-0.175233,-1.196825,0.234580,-0.008713,-0.726571,0.017050,-0.118228,0.435402,...,-0.268048,-0.717211,0.297930,-0.359769,-0.315610,0.201114,-0.080826,-0.075071,2.68,Class0
284801,172785.0,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,2.69,Class0
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,Class0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,Class0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,Class0

In [32]:
from tabGAN import TabGAN
def tabGAN_example_synthesizer(data):
    tg_qtr = TabGAN(data, batch_size=500, ctgan=True, n_critic=10, adam_beta1 = 0.5,
                 quantile_transformation_int=True, quantile_rand_transformation=True, qtr_spread=1,
                 activation_function="mish", jit_compile=True, qt_n_subsample=int(1e5))
    tg_qtr.train(100, progress_bar=True)
    return tg_qtr.sample()

In [33]:
helpers.comparison.synthesize_multiple_datasets(tabGAN_example_synthesizer, "tabGAN_example",
                                               n_synthetic_datasets=5,
                                                overwrite_dataset=True,
                                               datasets=["news_edited"])

Dataset tasks:   0%|          | 0/1 [00:00<?, ?it/s]

Synthesized datasets (tabGAN_example):   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

In [165]:
import os
import pathlib
%load_ext autoreload
%autoreload 2
if not "changed_working_directory" in locals():
    changed_working_directory = True
    os.chdir(pathlib.Path().resolve().parent)
import helpers
comparison_output = helpers.comparison.eval_ml_efficacy(["tabGAN_example"],
                                                        datasets=["covtype_edited", "creditcard_edited", "news_edited"],
                                    n_synthetic_datasets=1,
                                   metric_evals=["Mean", "Median", "Percentile5", "Percentile95"])

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Dataset tasks:   0%|          | 0/3 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/1 [00:02<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/1 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

Synthetic datasets:   0%|          | 0/1 [00:00<?, ?it/s]

Models:   0%|          | 0/2 [00:00<?, ?it/s]

In [166]:
comparison_output_tidy = helpers.comparison.tidy_ml_efficacy_output(comparison_output, extract_median_and_percentile=True)
comparison_output_tidy

C:\Users\Arne\anaconda3\envs\tf2.4\lib\site-packages\pandas\core\indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                Covtype                        \
            Model         Test Accuracy               Test F1
0   Train dataset  0.868 (0.868, 0.868)  0.865 (0.865, 0.865)
1  tabGAN_example  0.663 (0.663, 0.663)  0.693 (0.693, 0.693)

             Creditcard                                              \
          Test Accuracy              Test AUC               Test F1
0  0.999 (0.999, 0.999)     0.98 (0.98, 0.98)  0.916 (0.916, 0.916)
1  0.999 (0.999, 0.999)  0.923 (0.923, 0.923)     0.81 (0.81, 0.81)

                   News
          Test Accuracy              Test AUC               Test F1
0     0.79 (0.79, 0.79)  0.693 (0.693, 0.693)  0.553 (0.553, 0.553)
1  0.775 (0.775, 0.775)  0.641 (0.641, 0.641)  0.539 (0.539, 0.539)

In [181]:
import re
int(re.search( "pac(\d+)", "CTGAN-orig-pac10").group(0).replace("pac", ""))

10

In [117]:
comparison_output_tidy

                                Covtype                        \
            Model         Test Accuracy               Test F1
0   Train dataset  0.868 (0.868, 0.868)  0.865 (0.865, 0.865)
1  tabGAN_example  0.663 (0.663, 0.663)  0.693 (0.693, 0.693)

             Creditcard                                              \
          Test Accuracy              Test AUC               Test F1
0  0.999 (0.999, 0.999)     0.98 (0.98, 0.98)  0.916 (0.916, 0.916)
1  0.999 (0.999, 0.999)  0.923 (0.923, 0.923)     0.81 (0.81, 0.81)

                   News
          Test Accuracy              Test AUC               Test F1
0     0.79 (0.79, 0.79)  0.693 (0.693, 0.693)  0.553 (0.553, 0.553)
1  0.775 (0.775, 0.775)  0.641 (0.641, 0.641)  0.539 (0.539, 0.539)

In [128]:
df = pd.DataFrame({"a": [1,2,3], "b": ["4","5","6"]})

In [136]:
[ab in df["b"].unique() for ab in ["1", "4"]]

[False, True]